/* Scss Document */

input{
	border:1px solid #ccc;
}

progress{
	width:100px;
}

.tip-box{
	margin-top:20px;
	min-height:70px;
	width:100%;
	background:#fff;
	padding:10px;
	border:1px solid #ccc;
	border-left:5px solid #A45B60;
	ul li{
		line-height:25px;
	}
}

.chart-box{
	margin-top:20px;
	background:#fff;
	border:1px solid #ccc;
	position:relative;
	width:100%;
	.title-box{
		background:#f4f7fa;
		width:100%;
		font-size:15px;
		font-weight:600;
		color:#333;
		padding:15px 10px;
		background:#333;
		color:#fff;
		
		.more{
			font-size:12px;
			float:right;
			color:#666;
			cursor:pointer;
			margin-right:5px;
			text-decoration:none;
			color:#f1f1f1;
		}
		
	}
	.delete-box{
		position:absolute;
		right:10px;
		top:10px;
		cursor:pointer;
	}
}


.chart-content{
	display:block;
	width:100%;
	height:500px;
	margin-top:20px;
	padding:10px 10px 10px 10px;
	overflow:hidden;
	max-width:100%;
}

.cs-box{
	background:#FAFAFA;
}

.num-item{
	color:#f00;
	margin-right:10px;
}

.num-box{
	background:#FAFAFA;
	padding:10px 20px;
}
.btn-check{
	margin-top:0px;
	float:right;
	background:#f05423;
	padding:6px 15px;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	&:hover{
		background:#b7431e;
		color:#fff;
	}
}
.menu-banner{
	background:#fff;
	border:1px solid #ccc;
	padding:15px 20px;
	min-height:55px;
	.new-mission-btn{
		margin-top:-5px;
		float:right;
		background:#f05423;
		padding:6px 15px;
		border-radius:4px;
		color:#fff;
		cursor:pointer;
		&:hover{
			background:#b7431e;
		}
	}
	
	.item-btn{
		cursor:pointer;
		padding:6px;
		background:#fff;
		border-radius:4px;
		border:1px solid #ccc;
		margin-right:5px;
		&:hover{
			background:#1c71a9;
			border:1px solid #1c71a9;
			color:#fff;
		}
	}
	.select{
		background:#1c71a9;
		border:1px solid #1c71a9;
		color:#fff;
	}
}

.menu-box{	
	padding:15px 20px 0 20px;
	position:relative;
	border-bottom:1px solid #ccc;
	.back{  
		height: 3px;  
		background-color: #1c71a9;  
		position: absolute;  
		bottom: 0px;  
		left: 20px;  
		width: 100px;  
	}  
	.menu-row{
		margin:0;
		padding:0;
		display:inline-block;
		height:30px;
		line-height:20px;
		text-align:center;
		width:100px;
		vertical-align:middle;
		cursor:pointer;
		border-bottom:3px solid rgba(0,0,0,0);
		text-decoration:none;
		color:#333;
		font-weight:500;
		&:hover{
			color:#333;
		}
	}
}

.type-item{
	display:inline-block;
	cursor:pointer;
	line-height:30px;
	text-align:center;
	vertical-align:central;
	border:1px solid #ccc;
	height:30px;
	width:80px;
	&:hover{
		background:#1c71a9;
		border:1px solid #1c71a9;
		color:#fff;
	}
}

.realTime-box{
	background:#F8F8F8;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin-top:20px;
	display:block;
	position:relative;
	.realTime-row{
		border-top:1px solid #ccc;
		height:80px;
		
	}
	.open{
		height:165px;
	}
	.realTime-title{
		height:80px;
	}
	.realTime-item{
		float:left;
		width:20%;
		height:80px;
		border-left:1px solid #ccc;
		color:#333;
		.title{
			height:24px;
			line-height:24px;
			vertical-align:middle;
			font-size:14px;
			margin-top:5px;
			margin-left:14px;
			font-weight:600;
		}
		.norm-content{
			font-size:25px;
			font-weight:500;
			margin-left:14px;
		}
		.norm-add{
			font-size:20px;
			font-weight:600;
			color:#1c71a9;
			-webkit-transition-property:opacity;
			transition-property:opacity;
			-webkit-transition-duration:1s;
			transition-duration:1s;
			-webkit-transition-timing-function:cubic-bezier(0.7,0,0.3,1);
			transition-timing-function:cubic-bezier(0.7.0.0.3.2);
		}
		.norm-miss{
			opacity: 0;
		}
	}
	.realTime-menu{
		position:absolute;
		width:10px;
		height:100%;
		background:#1c71a9;
		top:0;
		right:0;
		.menu-item{
			cursor:pointer;
			border-top:1px solid #ccc;
			height:50%;
			width:10px;
			display:block;
			position:relative;
			color:#fff;
			i{
				position:absolute;
				top:50%;
			}
		}
	}
	
	
	.realTime-content{
		display:none;
		height:85px;
		.realTime-detail{
			float:left;
			padding-left:14px;
			border-left:1px solid #ccc;
			width:20%;
			height:85px;
		}
	}
}

.tb-box{
	margin-top:20px;
	padding-bottom:15px;
}

.norm-title{
	width:60px;
}


.page-title{
	display:inline-block;
	font-size:18px;
	height:42px;
	line-height:42px;
	position:absolute;
	line-height:49px;
	margin-left:12px;
	font-weight:600;
	border-top:6px solid #1c71a9;
}

.task-box{
	margin-left:20px;
	input{
		height:30px;
		border:1px solid #ccc;
		width:159px;
	}
	textarea{
		border:1px solid #ccc;
		height:150px;
		width:360px;
		background:#fff;
	}
	label{
		float:left;
		width:110px;
	}
	.row{
		margin-top:10px;
		.date-row{
			margin-top:5px;
			input{
				height:30px;
				width:121px;
			}
			label{
				width:20px;
			}
		}
	}
}

.cz-item{
	cursor:pointer;
/*	border:1px solid #ccc;
	border-radius:4px;
	padding:5px;
	display:inline-block;*/
}

/*orangebtn small*/
.add-database{
	background:#f05423;
	padding:6px;
	font-size:12px;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	margin-right:5px;
	&:hover{
		background:#b7431e;
	}
}

.newWorkBtn{
	background:#f05423;
	padding:6px 12px;
	font-size:14px;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	margin-right:5px;
	&:hover{
		color:#fff;
		background:#b7431e;
	}
}

.editDBBtn{
	margin-top:-5px;
	background:#f05423;
	padding:6px;
	font-size:12px;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	margin-right:5px;
	&:hover{
		background:#b7431e;
	}
}

/*whitebtn small*/



/*whitebtn small*/
.detail-task{
	cursor:pointer;
	height:31px;
	border:1px solid #ddd;
	border-radius:4px;
	color:#333;
	background:#fff;
	padding:5px 5px;
	text-decoration:none;
	margin-right:10px;
	&:hover,&:visited,&:active,&:link{
		color:#333;	
	}
	&:hover{
		background:#f8f8f8;
	}
}

.add-database,.editDBBtn{
	font-size:14px;
}


.main .fa{
	font-size:18px;
}

#create-user,.create-database,#create-report,.create-work{
	margin-right:10px;
	background:#f05423;
	padding:6px 15px;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	margin-bottom:10px;
	text-decoration:none;
	margin-left:10px;
	&:hover{
		color:#fff!important;
		background:#b7431e;
	}
	
}

.create-work{
	
}

.create-database,#create-report{
	margin-top:-6px;
}
  
.resetBtn{
	margin-left:10px;
	cursor:pointer;
	height:30px;
	width:100px;
	border:1px solid #ccc;
	border-radius:4px;
	padding:5px;
	&:hover{
		background:#f8f8f8;
	}
}

.task-evaluate{
	cursor:pointer;
	height:30px;
	width:100px;
	background:#f05423;
	border:1px solid #f05423;
	border-radius:4px;
	color:#fff;
	padding:5px 10px;
	&:hover{
		background:#b7431e;
	}
}

.task-view,.edit-btn,.work-edit,{
	cursor:pointer;
	height:30px;
	width:100px;
	border:1px solid #1c71a9;
	border-radius:4px;
	color:#fff;
	background:#1c71a9;
	padding:5px 10px;
	text-decoration:none;
	&:hover,&:visited,&:active,&:link{
		color:#fff;	
	}
	&:hover{
		background:#144e75;
	}
	
}

.delete-btn,.request-delete,.work-remove,.reset-pw,.work-zs,.report-copy{
	cursor:pointer;
	height:30px;
	width:100px;
	border:1px solid #ccc;
	border-radius:4px;
	padding:5px 10px;
	&:hover{
		background:#f8f8f8;
	}
}

.post-schedule{
	cursor:pointer;
	height:33px;
	margin-left:20px;
	border:1px solid #ccc;
	border-radius:4px;
	padding:5px 10px;
	&:hover{
		background:#f8f8f8;
	}
}

.user-box{
	.user-type{
		margin-right:5px!important;
		float:left;
		width:15px!important;
		height:15px!important;
		background:#fff!important;
	}
}

.detail-run,.dw-run{
	background:#f05423;
	padding:6px;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	font-size:14px;
	text-decoration:none;
	&:hover{
		color:#fff!important;
		background:#b7431e;
	}
	&:visited,&:link{
		text-decoration:none;
		color:#fff!important;
	}
	
}

.report-sumbit{
	background:#1c71a9;
	padding:6px;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	margin-bottom:3px;
	text-decoration:none;
	font-size:14px;
	margin-right:10px;
	display:inline-block;
	margin-top:3px;
	&:hover{
		color:#fff!important;
		background:#144e75;
	}
}

.report-review,.report-remove,.task-remove,.preview-run,.view-run,.delete-run,.error-run{
	cursor:pointer;
	border:1px solid #ccc;
	border-radius:4px;
	padding:6px;
	font-size:14px;
	&:visited,&:link{
		text-decoration:none;
		color:#333!important;
	}
	&:hover{
		background:#f8f8f8;
	}
}

.report-review{
	margin-right:10px;
}

.error-run,.delete-run{
	margin-left:10px;
}

.preview-run,.view-run{
	margin-right:10px;
}

.sumbitColBtn{
	background:#1c71a9;
	padding:6px 10px;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	margin-bottom:3px;
	text-decoration:none;
	font-size:14px;
	display:inline-block;
	margin-top:-5px;
	&:hover{
		color:#fff!important;
		background:#144e75;
	}
}

.closeColBtn{
	background:#fff;
	padding:6px 10px;
	border-radius:4px;
	border:1px solid #ccc;
	color:#333;
	cursor:pointer;
	margin-bottom:3px;
	text-decoration:none;
	font-size:14px;
	display:inline-block;
	margin-top:-5px;
	&:hover{
		background:#f8f8f8;
	}
}

.matchColBtn{
	margin-left:10px;
	background:#f05423;
	padding:6px 10px;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	font-size:14px;
	text-decoration:none;
	margin-top:-5px;
	&:hover{
		color:#fff!important;
		background:#b7431e;
	}
	&:visited,&:link{
		text-decoration:none;
		color:#fff!important;
	}
}

.user-item{
	position:relative;
	display:inline-block;
	float:left;
	cursor:pointer;
}

.user-type-list{
	li{
		height:20px;
	}
	.select{
		background:#f05423;
		&:hover{
			background:#f05423;
		}
		a{
			color:#fff;
		}
		
	}
}
.drop-user-list{
	position:absolute;
	top:62px;
	z-index:999;
	left:-15px;
	background:#fff;
	width:140px;
	display:none;
	/*box-shadow: 2px 5px 1px #f0f0f0;*/
	font-size:14px;
	/*transform:rotate(-3deg);*/
	border:1px solid #ccc;
	ul{
		li{
			text-align:left;
			cursor:pointer;
			height:35px;
			line-height:25px;
			border-bottom:1px solid #ccc;
			padding:5px 10px;
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;
			a{
				width:100%;
				max-width:100%;
				height:100%;
				text-decoration:none;
				color:#333;
			}
			&:hover{
				background:#f1f1f1;
			}
		}
	}
	.list-more{
		background:#f5f5f5;
		text-align:right;
		text-align:center;
		font-size:12px;
		height:22px;
		line-height:12px;
		padding:5px 10px;
		cursor:pointer;
		color:#999;
	}
	
}

.user-change{
	margin-top:15px;
	margin-right:20px;
	text-align:center;
	vertical-align:central;
	float:left;
	display:inline-block;
	color:#fff;
	width:100px;
	line-height:35px;
	height:35px;
	border-radius:30px;
	background:#f05423;
}

.table-title{
	th{
		font-weight:600;
	}
}

.tasks-del,.new-mission-btn{
	margin-left:10px;
	margin-top:-5px;
	background:#f05423;
	padding:6px 15px;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	&:hover{
		background:#b7431e;
	}
}

.tasks-del{
	margin-left:10px;
	margin-top:-5px;
	background:#1c71a9;
	padding:6px 15px;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	&:hover{
		background:#144e75;
	}
}


.isread{
	float: right;
    margin-top: 5px;
    background: #1080d0;
    border: 1px solid #1c71a9;
    width: 10px;
    border-radius: 500px;
    height: 10px;
    display: inline-block;
}
